<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>610729381235-b9l1se8iltf8lud87muerdmddd3t82qs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.610729381235-b9l1se8iltf8lud87muerdmddd3t82qs</string>
	<key>API_KEY</key>
	<string>AIzaSyD5wQfMF88j9jSUawro90pjOZFokV6hFy4</string>
	<key>GCM_SENDER_ID</key>
	<string>610729381235</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.khantzawko.moonlight</string>
	<key>PROJECT_ID</key>
	<string>moonlight-c9b33</string>
	<key>STORAGE_BUCKET</key>
	<string>moonlight-c9b33.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:610729381235:ios:214414cd1d1fa25e</string>
	<key>DATABASE_URL</key>
	<string>https://moonlight-c9b33.firebaseio.com</string>
</dict>
</plist>